header {
    background-color: #B8621B;
	padding: 20px 0;
    padding-top: 0%;
}

.titulo-principal {
    color: #FFD93D;
	font-size: 28px;
	font-weight: bold;
    display: inline;
    position: absolute;
    padding-left: 43%;
    padding-top: 5px;
}

.caixa {
    background-color: #262A56;
    position: relative;
    width: auto;
    margin: 0 auto;
}

nav {
    position: relative;
    text-align: right;
    bottom: 140px;
    padding-right: 15px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

 nav a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover { 
    color: #FFD93D;
    
}

 #banner {
    position: relative;
	 width: 70%;
     left: 15%;	 
}

 .principal { 
		 background: #23120B;

}

.titulo-centralizado {
    color: #FFD93D;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    position: relative;
    margin-bottom: 20px;
    padding-top: 20px;
}

 #p1{
    color: white;
    padding-left: 30%;
    width: 40%;
    margin-bottom: 35px;
    text-align: center;
    
}

#p2  {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 15px;
}

#p3 {
    color: white;
    text-align: center;
    padding-left: 30%;
    width: 40%;
    margin-bottom: 20px;
}

hr{
    border: 10px solid #B8621B;
    padding: 0;
    margin: 0;
}

.beneficios {
    background: #262A56;
    padding: 20px;

}

h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    color: #FFD93D;
    font-weight: bold;
}

.itens{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    
}


.imgbeneficios {
    position: relative;
	width: 55%;
    left: 22.1%;

}

footer {
    background-color: #1f1f1f;
	text-align: center;
	padding: 40px 0;
}

footer a {
    position: absolute;
    display: inline-block;
    left: 10px;
    margin-top: 15px;
}

.creditos{
    position: absolute;
    color: white;
    margin-top: 20px;
    left: 40px;
}
.copyright {
    color: #FFD93D;
    font-size: 13px;
    margin: 0
}

#contato {
    padding-left: 10px;
    color: white;
    text-align: left;
    text-decoration: none;
}